---
version: 2

updates:
  - package-ecosystem: github-actions
    cooldown:
      default-days: 7
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        update-types:
          - minor
          - patch
    commit-message:
      prefix: "ci(deps)"
  - package-ecosystem: docker
    cooldown:
      default-days: 7
    directories:
      - .devcontainer/base
      - .devcontainer/cpp
      - .devcontainer/rust
    schedule:
      interval: weekly
  - package-ecosystem: devcontainers
    cooldown:
      default-days: 7
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: npm
    cooldown:
      default-days: 7
    directory: /
    schedule:
      interval: weekly
    groups:
      npm:
        update-types:
          - minor
          - patch
    commit-message:
      prefix: "test(deps)"
  - package-ecosystem: pip
    cooldown:
      default-days: 7
    directory: .devcontainer
    schedule:
      interval: weekly
