.features-gen/
.xwin-cache/
.xwin-hash/
build/
megalinter-reports/
mutants.out/
node_modules/
playwright-report/
target/
test-results/
.env
*.profdata
*.profraw
*.pyc
**/playwright/.auth/user.json
CMakeUserPresets.json
