| Property                | Value                                                                                                                     |
|-------------------------|---------------------------------------------------------------------------------------------------------------------------|
| Document version        | {{ sbdl['doc-control']['custom:version'] }}                                                                               |
| Generation date         | {{ sbdl['doc-control']['custom:generated-at'] | strftime('%Y-%m-%d') }}                                                   |
| Source revision         | {{ sbdl['doc-control']['custom:git-sha'] }}                                                                               |
| Source branch/tag       | {{ sbdl['doc-control']['custom:git-ref'] }}                                                                               |
| Model                   | SBDL {{ sbdl['doc-control']['custom:sbdl-compiler-version'] }} (DSL {{ sbdl['doc-control']['custom:sbdl-dsl-version'] }}) |
