---
name: Continuous Integration

on:
  merge_group:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      # While the docker/build-push-action works from the Git context, we still need
      # the checkout step for running our tests.
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2.10.0
      - uses: docker/build-push-action@4e4ee680f69700760d5620a94c020aef883043aa # v4.2.0
        with:
          file: .devcontainer/Dockerfile
          load: true
          tags: ${{ github.repository }}:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Run Tests
        run: |
          set -Eeuo pipefail
          docker run --rm --mount type=bind,src="$(pwd)/test",dst=/ws -w /ws ${{ github.repository }}:test bats --formatter junit testsuite.bats | tee test-report.xml
      - uses: test-summary/action@62bc5c68de2a6a0d02039763b8c754569df99e3f # v2.1
        with:
          paths: test-report.xml
          show: all
