---
name: Evaluate Tool Versions

on:
  schedule:
    - cron: 0 0 1 */3 *
  workflow_dispatch:

permissions: {}

jobs:
  create-issue:
    name: Create tool version evaluation issue
    runs-on: ubuntu-slim
    permissions:
      contents: read # is needed to checkout the repository
      issues: write # is needed by gh cli to create/close/pin/unpin issues
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          sparse-checkout: .github/TOOL_VERSION_ISSUE_TEMPLATE.md
          sparse-checkout-cone-mode: false
      - run: |
          previous_issue_number=$(gh issue list \
            --label "$LABELS" \
            --json number \
            --jq '.[0].number // empty')

          if [[ -n $previous_issue_number ]]; then
            gh issue close "$previous_issue_number" --reason completed
            gh issue unpin "$previous_issue_number" || true
          fi

          new_issue_url=$(gh issue create \
            --title "$TITLE" \
            --label "$LABELS" \
            --body-file .github/TOOL_VERSION_ISSUE_TEMPLATE.md)

          if [[ $PINNED == true ]]; then
            gh issue pin "$new_issue_url"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          LABELS: scheduled,tool-versions
          PINNED: true
          TITLE: Evaluate tool versions
