---
name: Close Stale Issues & Pull Requests

on:
  schedule:
    - cron: "30 1 * * *"

permissions: {}

jobs:
  close-issues:
    name: ♻️ Close Stale Issues & PRs
    runs-on: ubuntu-latest
    permissions:
      issues: write # is needed by actions/stale to close/comment on issues
      pull-requests: write # is needed by actions/stale to close/comment on PRs
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          stale-issue-label: "stale"
          stale-pr-label: "stale"
          stale-issue-message: "This issue is marked stale because it has been open for an extended period with no activity. Remove the 'stale' label or comment otherwise this issue will be closed in 7 days."
          stale-pr-message: "This pull request is marked stale because it has been open for an extended period with no activity. Remove the 'stale' label or comment otherwise this pull request will be closed in 7 days."
          exempt-all-milestones: true
