---
name: Finalize Release

on:
  release:
    types: [published]

permissions: {}

jobs:
  comment-released-prs:
    name: Comment on released PRs
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # is needed by rdlf0/comment-released-prs-action to post comments on PRs
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
      - uses: rdlf0/comment-released-prs-action@a81897eaea04a5faa8779d28607826ddb033321a # v3.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
