---
name: Vulnerability Scan

on:
  schedule:
    - cron: "30 2 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  vulnerability-scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: crazy-max/ghaction-container-scan@cdc6facb764848d60ab7ea4b7cbaac409140e37d # v2.1.0
        id: scan
        with:
          image: ghcr.io/${{ github.repository }}:latest
          dockerfile: .devcontainer/Dockerfile
      - uses: github/codeql-action/upload-sarif@489225d82a57396c6f426a40e66d461b16b3461d # v2.20.4
        if: ${{ steps.scan.outputs.sarif != '' }}
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
