---
name: Vulnerability Scan

on:
  schedule:
    - cron: "30 2 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  vulnerability-scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: crazy-max/ghaction-container-scan@3e9c23f89cd6b0bda949ffe14f28a3ce282323b7 # v3.0.0
        id: scan
        with:
          image: ghcr.io/${{ github.repository }}:latest
          dockerfile: .devcontainer/Dockerfile
      - uses: github/codeql-action/upload-sarif@d90b8d79de6dc1f58e83a1499aa58d6c93dc28de # v2.22.2
        if: ${{ steps.scan.outputs.sarif != '' }}
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
