---
name: Dependency Review

on:
  workflow_call:
    inputs:
      runner-labels:
        description: >-
          JSON array used to select the action runner.
          Must be valid JSON.

          Examples:
            '["ubuntu-latest"]'
            '["self-hosted", "linux", "x86_64"]'
        required: false
        type: string
        default: '["ubuntu-latest"]'

permissions: {}

jobs:
  dependency-review:
    name: Review
    runs-on: ${{ fromJson(inputs.runner-labels) }}
    permissions:
      contents: read
      pull-requests: write # is needed by actions/dependency-review-action to write PR summaries
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: true
          egress-policy: audit
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          comment-summary-in-pr: on-failure
          fail-on-severity: critical
