---
name: Integration Test

on:
  workflow_call:
    inputs:
      fully-qualified-image-name:
        required: true
        type: string
      image-basename:
        required: true
        type: string
      image-digest:
        required: true
        type: string
      test-file:
        required: true
        type: string
      build-test-runner-labels:
        required: true
        type: string
      registry:
        required: true
        type: string
    secrets:
      DOCKER_REGISTRY_USERNAME:
        required: true
      DOCKER_REGISTRY_PASSWORD:
        required: true

permissions: {}

jobs:
  run-test:
    name: Integration Test (${{ (startsWith(matrix.runner, '[') && endsWith(matrix.runner, ']')) && join(matrix.runner, ', ') || matrix.runner }})
    strategy:
      matrix:
        runner: ${{ fromJson(inputs.build-test-runner-labels) }}
    runs-on: ${{ matrix.runner }}
    container:
      image: ${{ inputs.fully-qualified-image-name }}@${{ inputs.image-digest }}
      credentials:
        username: ${{ secrets.DOCKER_REGISTRY_USERNAME || github.actor }}
        password: ${{ secrets.DOCKER_REGISTRY_PASSWORD || github.token }}
    permissions:
      contents: read
    steps:
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo: true
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: echo "arch=$(echo "${RUNNER_ARCH}" | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"
        id: runner-arch
      - run: bats --formatter junit "${TEST_FILE}" | tee "test-report-${IMAGE_BASENAME}-${RUNNER_ARCH}.xml"
        env:
          IMAGE_BASENAME: ${{ inputs.image-basename }}
          TEST_FILE: ${{ inputs.test-file }}
          RUNNER_ARCH: ${{ steps.runner-arch.outputs.arch }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: test-results-integration-${{ inputs.image-basename }}-${{ steps.runner-arch.outputs.arch }}
          path: test-report-*.xml
